{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fakebook</title>
    </head>
    <body>
        <div class="container" align="center">
            <a href="{% url 'logout_user' %}">Logout here.</a><br/><br/>
            {{ user }} | {{ user.first_name }} {{ user.last_name }} | {{ user.email }}
        </div>
    </body>
</html>
{% endblock %}