{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fakebook</title>
    </head>
    <body>
        <div class="container" align="center"><br/>
            <a href="{% url 'logout_user' %}">Logout here.</a><br/><br/>
            <h1>Welcome {{ user.first_name }} {{ user.last_name }}!</h1>
            ID: {{ user.id }} | Username: {{ user }} | Name: {{ user.first_name }} {{ user.last_name }} | Email: {{ user.email }}
        </div>
    </body>
</html>
{% endblock %}