{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Fakebook Search</title>
    </head>
    <body style="background-color:#FFFFFF;">
        <div class="container" align="center">
            {% if search %}
                {% if searched %}<br/>
                    {% for search in searched %}
                        <div>
                            <h1>Search result: <a href="#!">{{ search.first_name }} {{ search.last_name }}</a></h1>
                            Username: {{ search }} | Name: {{ search.first_name }} {{ search.last_name }} | Email: {{ search.email }}
                        </div>
                    {% endfor %}
                {% else %}<br/>
                    <h3>No search for "{{ search }}" found.</h3>
                {% endif %}
            {% else %}<br/>
                <h3>Please enter a search query!</h3>
            {% endif %}
        </div>
    </body>
</html>
{% endblock %}